:root {
  --white-dark: #F8F4F1;
  --white-darker: #f9eaea;
  --white: #fff;
  --grey-lighter: #EFE9F4;
  --grey-light: #395056;
  --grey: #2B3D41;
  --blue: #6989c0;
  --grey-dark: #4b4b4b;
  --green: #419D78;
  --green-dark: #3C906E;
  --red: #B77166;
  --red-dark: #995348;
  --blank-background: linear-gradient(300deg, var(--white-dark), var(--white-darker));

  --color-primary: var(--blue);
  --color-primary-dark: var(--grey-dark);
  --color-primary-inverted: var(--white);
  --color-text: var(--grey-dark);
  --color-text-light: var(--grey);
  --color-text-inverted: var(--white);

  --space-xs: 0.25rem;
  --space-s: 0.5rem;
  --space-m: 0.75rem;
  --space-l: 1.5rem;
  --space-xl: 2rem;

  --border-thin-size: 1px;
  --border-size: 0.125rem;
  --border-thick-size: 0.2rem;
  --border-color: currentColor;

  --radius-s: 1rem;
  --radius-m: 2rem;
  --radius-l: 3rem;

  --shadow: 0 0 5px -2px var(--grey);

  /* --font-default: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; */
  --font-default: 'Barlow', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  --font-cursive: 'Abril Fatface', cursive;

  accent-color: var(--color-primary);
}

* {
  transition: all 0.15s ease-in-out;
}

body {
  background: var(--blank-background);
  min-block-size: 100vb;
}
